body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('http://drive.google.com/uc?export=view&id=1SqraLQNbqDcnU-gAKieOueLjhTKYj1qr');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  font-family: TW Cen MT;
}

.body-2 {
  font-family: TW Cen MT;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.body-2 a {
  font-family: TW Cen MT;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #0732a2;
}

.body-2 a:hover {
  font-family: TW Cen MT;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #383838;
}

.body-3 {
  font-family: TW Cen MT;
  color: black;
  padding: 10px 190px 50px;
}

.body-4 {
  font-family: TW Cen MT;
  text-align: center;
  color: rgb(76, 117, 231);
  font-weight: bold;
  padding: 10px 160px 50px;
}

.body-5 {
  font-family: TW Cen MT;
  font-size: 16px;
  text-align: center;
  color: rgb(58, 58, 58);
  font-weight: lighter;
  padding: 40px 160px 40px;
}

.body-5 a {
  font-family: TW Cen MT;
  font-size: 16px;
  text-align: center;
  color: rgb(58, 4, 252);
  font-weight: lighter;
  padding: 0px 10px 0px;
}

.body-5 a:hover {
  font-family: TW Cen MT;
  font-size: 16px;
  text-align: center;
  color: rgb(58, 58, 58);
  font-weight: lighter;
}

.body-6 {
  background-color: rgb(245, 245, 245);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  max-height: 180vh;
  font-family: TW Cen MT;
}

.body-7 {
  font-family: TW Cen MT;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #0732a2;
  padding-top: 30px;
}

.body-8 {
  font-family: TW Cen MT;
  font-size: 15px;
  text-align: center;
  color: rgb(58, 57, 57);
  padding: 50px 220px 50px;
}

.Navbar {
  margin-bottom: 20px;
  padding-left: 20px;
  padding: 11px;
  display: flex;
  align-items: center;
}

.Navbar .links-left {
  margin-left: 25px;
  padding: 5px;
}

.Navbar .links-right {
  margin-left: 345px;
  padding: 5px;
}

.Navbar .links-right-button {
  margin-left: 42px;
  padding: 5px;
}

.Navbar h1 {
  margin-left: 13px;
  color: white;
  font-size: 28px;
}

.Navbar .registered {
  color: white;
  font-size: 8px;
  vertical-align: super;
}

.footer-registered {
  color: #0732a2;
  font-size: 8px;
  vertical-align: super;
}

.footer-copyright {
  font-size: 15px;
}

.footer-bullet {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.Navbar a {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-size: 13px;
}

.div-img-top {
  padding-left: 60px;
}

.div-top {
  background-color: transparent;
  margin-top: 25px;
  margin-left: 170px;
  margin-right: 225px;
  font-size: 29px;
  font-family: TW Cen MT;
  font-weight: bold;
  color: white;
}

.div-featured {
  color: black;
  padding: 10px 10px 10px;
  background-color: #cccccd;
  width: 100%;
  font-family: TW Cen MT;
  font-size: 14px;
}

.div-featured a {
  text-decoration: none;
  color: #0732a2;
}

.div-featured a:hover {
  text-decoration: none;
  color: #383838;
}

.tb-featured {
  width: 999px;
}

.td-featured {
  width: 333px;
  min-height: 1000px;
}

.tb-trending {
  border-collapse: separate;
  border-spacing: 50px 0px;
}

.td-trending {
  padding: 5px 0px 5px;
  min-width: 280px;
  border-bottom: 1px solid #a0a0a0;
}

.tb-trending a {
  text-align: left;
  text-decoration: none;
  color: #449cff;
}

.tb-trending a:hover {
  text-decoration: none;
  color: #0732a2;
}

.tb-footer {
  margin-left: 200px;
  border-collapse: separate;
  border-spacing: 80px 0px;
  text-align: left;
  font-weight: lighter;
}

.td-footer {
  font-size: 18px;
  color: #0732a2;
  padding: 5px;
}

.td-footer a {
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-size: 16px;
}

.a-socmed {
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
}

.icon {
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-size: 16px;
}

.td-footer a:hover {
  color: #0732a2;
  text-decoration: none;
  font-size: 16px;
}

.td-top {
  text-align: center;
  padding: 0px 20px 0px;
}

.btn-employers {
  background-color: #0732a2;
  border: 2px solid #0732a2;
  color: white;
  padding: 9px 37px;
  border-radius: 50px;
  font-size: 13px;
}

.btn-employers:hover {
  background-color: white;
  border: 2px solid #0732a2;
  color: #0732a2;
  padding: 9px 37px;
  border-radius: 50px;
  font-size: 13px;
}

.btn-free {
  background-color: #ffa800;
  border: 2px solid #ffa800;
  color: white;
  padding: 17px 50px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-free:hover {
  background-color: transparent;
  border: 2px solid #ffa800;
  color: #ffa800;
  padding: 17px 50px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-search {
  background-color: #0704e1;
  border: 2px solid #0704e1;
  color: white;
  padding: 17px 50px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-search:hover {
  background-color: white;
  border: 2px solid #0704e1;
  color: #0704e1;
  padding: 17px 50px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-apply {
  background-color: #0704e1;
  border: 2px solid #0704e1;
  padding: 8px 30px;
  border-radius: 4px;
  color: white;
  font-family: TW Cen MT;
  font-size: 15px;
  margin-left: 40px;
}

.btn-apply:hover {
  background-color: white;
  border: 2px solid #0704e1;
  padding: 8px 30px;
  border-radius: 4px;
  color: #0704e1;
  font-family: TW Cen MT;
  font-size: 15px;
  margin-left: 40px;
}

.figure .img-top {
  width: 90%;
  float: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.figure .img-mid {
  width: 90%;
  float: left;
  border-top: 1px solid rgb(175, 175, 175);
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
}

.caption {
  float: center;
  width: 90%;
  font-family: TW Cen MT;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(87, 86, 86);
  text-align: center;
  padding: 175px 45px 18px;
  background-color: #fdeef3;
  border: 1px solid black;
}

.caption-featured {
  float: left;
  width: 90%;
  min-height: 220px;
  font-family: TW Cen MT;
  font-size: 17px;
  color: rgb(116, 115, 115);
  text-align: left;
  padding: 25px 25px 0px;
  border-top: 1px solid rgb(175, 175, 175);
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
}

.caption-btn {
  text-align: center;
  padding: 0px 0px 18px;
  width: 90%;
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
}

figure a {
  color: #ffa800;
  text-decoration: none;
}

figure a:hover {
  color: #444444;
  text-decoration: none;
}

.img-left {
  margin-left: 30px;
}

.ads {
  margin: 120px 250px 50px;
  font-family: TW Cen MT;
  border: 1px solid rgb(175, 175, 175);
}

.ads:hover {
  margin: 120px 250px 50px;
  font-family: TW Cen MT;
  border: 1px dashed rgb(175, 175, 175);
}

.arrow {
  font-size: 10px;
  color: rgb(83, 82, 82);
}

.jobstore {
  font-family: TW Cen MT;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 0px;
}

.text-search {
  font-size: 13px;
  color: #757575;
}

.text-footer {
  text-align: justify;
  font-size: 17px;
}

.search {
  width: 1000px;
  height: 50px;
  margin-left: 200px;
  box-shadow: #383838;
}
